*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    height: 100vh;
    margin: 0 auto;
}
.empty{
    background-image: url(../ASSETS/IMAGES/BW.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-attachment: fixed;
    margin: 0 auto;
}
.fill{
    background-image: url(../ASSETS/IMAGES/COLOR.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    margin: 0 auto;
}
