* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  text-decoration: underline;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.chess-board {
  margin: 0 auto;
  width: 550px;
  height: 550px;
  border: 8px inset black;
  margin-top: 20px;
}

.black {
  background-color: #292154;
  width: calc(100% - 87.5%);
  height: calc(100% - 87.5%);
  float: left;
  text-align: center;
  font-size: 40px;
  line-height: 65px;
}
.white {
  background-color: #B53E69;
  width: calc(100% - 87.5%);
  height: calc(100% - 87.5%);
  float: left;
  text-align: center;
  font-size: 40px;
  line-height: 65px;
}
.clear {
  clear: both;
}
