* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  width: 80%;
  height: 500px;
  background-color: #E0E0E0;
  margin: 0 auto;
  border: solid black 2px;
  border-radius: 8px;
  padding: 20px;
}
.box {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin: 10px;
  float: left;
  background-color: white;
}

/*Space Selector👇*/

.main .box:first-child {
  background-color: #FF5733;
}
/* Greater than Selector */

.main > .box:last-child {
  background-color: #33FF57;
}
/* Using nth -child() Selector */

.box:nth-child(2) {
  background-color: #3357FF;
}
/* Using :nth-last-child() Selector */
.box:nth-last-child(2){
  background-color:#F1C40F;
}

.box::selection{
  background-color: #8E44AD;
  color: white;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
